*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('weatherpic.jpg');
    background-color: rgba(46, 42, 42, 0.651);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.container{
    height: 10rem;
    min-width: 60%;
    color: white;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    /* display: grid; */
    /* grid-template-columns: 30% 50% 20%; */
}


#tempDiv{
    margin: 1rem;
    height: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: calc((10rem - 70px)/2);
}


#detailsDiv{
    margin: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;

}

#location{
    font-size: 70px;
    font-weight: bold;
    padding-top: calc((7rem - 70px)/2);
    padding-left: 1rem;
}

#timeDate{
    font-size: 20px;
    font-weight: bold;
    padding-top: calc((3rem - 20px)/2);
    padding-left: 1rem;
}

#conditionDiv{
    margin: 1rem;
    height: 100%;
    width: 5rem;
    display: grid;
    grid-template-rows: 70% 30%;
}

#weatherIcon{
    /* background-color: rgb(128, 151, 25); */
    font-size: 70px;
    font-weight: bold;
    padding-top: calc((7rem - 70px)/2);
    padding-left: 1rem;
    background-image: url(cloudy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    
}

#weatherTitle{
    font-size: 20px;
    font-weight: bold;
    padding-top: calc((3rem - 20px)/2);
    text-align: center;
}

#selectLocationDiv{
    height: 10rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 70% 30%;
    background-color: rgba(63, 59, 59, 0.747);
}

#selectLocationDiv input{
height: 5rem;
font-size: 50px;
border : 0;
background: transparent;
border-bottom: 2px solid rgb(207, 195, 195);
outline: none;
color: white;
}
#selectLocationDiv div{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color : white;
}



#selectLocationDiv div ion-icon{
    margin-right: 10px;
}




@media screen and (max-width : 900px) {
    .container{
        width: 70%;
        height: 5rem;
    }

    #tempDiv , #location{
        font-size: 40px;
    }

    #timeDate , #weatherTitle{
        font-size: 16px;
        
    }

    #selectLocationDiv{
        width: 90%;
        font-size: 30px;
    }

    #selectLocationDiv div{
        font-size: 30px;
    }

}

